{% extends "user/base.html" %}
{% load static %}

{% block content %}

<br>
<br>
<br>
<br>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<style>
.edu-cont {
    text-align: center;
}
.edu-text {
    font-size: 3rem;
    line-height: 1.5;
}
.video-box {
    width: 15%;
    margin: 20px 20px 50px;
}
</style>
</head>

    <div class="edu-cont">
        <h2 class="edu-text">Indoor Vertical Farming</h2>
        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3Ww2TP_tU7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <br>
    <div class="edu-cont">
        <h2 class="edu-text">Farm Automation</h2>
        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mpcdeKMki7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <br>
    <div class="edu-cont">
        <h2 class="edu-text">Modern Greenhouses</h2>
        <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/B5Kcc_7PE2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


{% endblock content %}